/* リセットCSS（気にしないでください） */
* {
    margin: 0;
    padding: 0;
}


/* サイドメニュー */
.sideMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 190;
}
.sideMenu_content{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #443d62;
    z-index: 200;
    transition: .5s;
    overflow-y: auto;
}
.sideMenu_content header{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #554f7a;
    user-select: none;
}
.sideMenu_content ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
ul li a:hover{
    padding-left: 45px;
    background: #554f7a;
}


/* ハンバーガーメニュー */
#hamburger_check {
    display: none;
}
label #hamburgerBtn,
label #hamburgerCancel {
    position: absolute;
}

label #hamburgerBtn {
    left: 10px;
    top: 20px;
    font-size: 25px;
    color: black;
    padding: 6px 12px;
    cursor: pointer;
}

label #hamburgerCancel {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#hamburger_check:checked ~.sideMenu {
    display: block;
}
#hamburger_check:checked ~ label #hamburgerCancel {
    display: block;
}
#hamburger_check:checked ~.sideMenu_content {
    left: 0;
}
