/* リセットCSS（気にしないでください） */
* {
    margin: 0;
    padding: 0;
}

/* 大枠（気にしないでください） */
body {
    width: 100%;
}
#wrapper {
    width: 80%;
    margin: 0 auto 0 20px;
}

/* 見出し ここから */
h1 {
    height: auto;
    margin: 40px 0 0 20px;
    padding: 0;
    /*
    color: #000;
    */
    font-size: 30px;
    font-weight: bold;
    border-top: 0;
    line-height: 1.5;
}

h2 {
    margin: 60px 0 35px 0;
    padding: 0 0 0 15px;
    font-size: 26px;
    font-weight: bold;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #ffff00;
}

h3 {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #666666;
}
/* ここまで */

/* アコーディオン ここから */
/* ここまで */
/* ボタンのデザイン */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 5px;
    border: 1px solid #ff0000;
    cursor: pointer;
    transition: .4s;
}
.button:hover {
    background-color: #ff6666;
    border: 1px solid #ff6666;
}
.button:active {
    background-color: #870000;
    border: 1px solid #870000;
}


/* ここまで */  


/* テキストの色 */
/*p {
    color: #cccccc;
}*/
.text {
    color: #cccccc;
}
.red {
    color: #ff0000;
}
.blue {
    color: #0000ff;
}
.green {
    color: #00ff00;
}
.yellow {
    color: #ffff00;
}
.pink {
    color: #ff00ff;
}
.purple {
    color: #800080;
}
.orange {
    color: #ffa500;
}
.brown {
    color: #a52a2a;
}
.gray {
    color: #808080;
}
.white {
    color: #aa00ff;
}


/*聖遺物選択画面のため*/
.target-area {
    width: 300px;
    height: 60px;
    border: 2px solid #000000;
    background-color: #292929;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal-content {
    border-radius: 3px;
    width: 350px;
    height: 500px;
    max-width: 80%; /* 幅を指定 */
    max-height: 60%; /* 高さを%に指定 */
    background-color: rgb(98, 74, 56);
    margin: 100px auto;
    margin-top: 10%;
    margin-left: 5%;
    padding: 20px;
    overflow-y: auto; /* スクロール可能にする */
}

.selection-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.selection-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.selection-item span {
    font-size: 18px;
}

/* モーダルウィンドウのスタイル */
/* モーダルウィンドウのスタイル */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal h3 {
    color: #fff;
  }
  
  #imageList {
    list-style: none;
    padding: 0;
  }
  
  .image-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(74, 56, 42);
  }



/* アイコンのスタイル */
#toggleButton {
    cursor: pointer;
    font-size: 10px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0% 3px;
}

/* 非表示要素のスタイル */
#toggleContent {
    display: none;
}

canvas{
    max-width: 500px;
}
